.Dish {
    margin: 40px 5px;
    display: flex;
    justify-content: space-between;
    text-align: right;
}

.Dish img {
    width: 150px;
    margin-right: 24px;
    height: 100px;
}

.DishBtns {
    margin-left: 24px;
    border: none;
    background: none;
}